<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd">

	<bean id="indexQueryProvider" class="info.novatec.inspectit.indexing.query.provider.impl.IndexQueryProvider">
		<lookup-method name="createNewIndexQuery" bean="indexQuery" />
	</bean>

	<bean id="storageIndexQueryProvider" class="info.novatec.inspectit.indexing.query.provider.impl.StorageIndexQueryProvider">
		<lookup-method name="createNewStorageIndexQuery" bean="storageIndexQuery" />
	</bean>
	
	<bean id="streamProvider" class="info.novatec.inspectit.storage.nio.stream.StreamProvider">
		<lookup-method name="createExtendedByteBufferOutputStream" bean="extendedByteBufferOutputStream" />
		<lookup-method name="createSocketExtendedByteBufferInputStream" bean="socketExtendedByteBufferInputStream" />
	</bean>
	
	<bean id="inputStreamProvider" class="info.novatec.inspectit.storage.nio.stream.InputStreamProvider">
		<lookup-method name="createExtendedByteBufferInputStream" bean="extendedByteBufferInputStream" />
	</bean>

	<bean id="serializationManagerProvider" class="info.novatec.inspectit.storage.serializer.provider.SerializationManagerProvider">
		<lookup-method name="createSerializer" bean="serializationManager" />
	</bean>

	<bean id="storageWriterProvider" class="info.novatec.inspectit.cmr.storage.CmrStorageWriterProvider">
		<lookup-method name="getCmrStorageWriter" bean="cmrStorageWriter" />
	</bean>

	<bean id="storageIndexingTreeProvider" class="info.novatec.inspectit.storage.util.StorageIndexTreeProvider">
		<lookup-method name="getStorageIndexingTree" bean="storageRootBranchFactory" />
	</bean>

	<bean id="IOExecutorService" class="info.novatec.inspectit.storage.util.ExecutorServiceFactory">
		<property name="threadNamePrefix" value="io-executor-service" />
		<property name="daemon" value="true" />
		<property name="executorThreads" value="${storage.ioExecutorThreads}" />
		<property name="beanSingleton" value="true" />
	</bean>

	<bean id="storageExecutorService" class="info.novatec.inspectit.storage.util.ExecutorServiceFactory">
		<property name="threadNamePrefix" value="storage-executor-service" />
		<property name="daemon" value="false" />
		<property name="executorThreads" value="${storage.storageExecutorThreads}" />
		<property name="scheduledExecutor" value="true" />
	</bean>

	<bean id="scheduledExecutorService" class="info.novatec.inspectit.storage.util.ExecutorServiceFactory">
		<property name="threadNamePrefix" value="scheduled-executor-service" />
		<property name="daemon" value="true" />
		<property name="executorThreads" value="5" />
		<property name="scheduledExecutor" value="true" />
		<property name="beanSingleton" value="true" />
	</bean>
	
	<bean id="socketReadExecutorService" class="info.novatec.inspectit.storage.util.ExecutorServiceFactory">
		<property name="threadNamePrefix" value="socket-read-executor-service" />
		<property name="daemon" value="true" />
		<property name="executorThreads" value="2" />
		<property name="scheduledExecutor" value="false" />
		<property name="beanSingleton" value="true" />
	</bean>

	<bean id="kryoNetObjectSpaceExecutorService" class="info.novatec.inspectit.storage.util.ExecutorServiceFactory">
		<property name="threadNamePrefix" value="kryo-net-object-space-executor-service" />
		<property name="daemon" value="true" />
		<property name="executorThreads" value="3" />
		<property name="scheduledExecutor" value="false" />
		<property name="beanSingleton" value="true" />
	</bean>

	<bean id="forkJoinWorkerThreadFactory" class="info.novatec.inspectit.indexing.util.ForkJoinPoolWorkerThreadFactoryFactory">
		<property name="threadNamePrefix" value="indexingTreeForkJoinThread" />
	</bean>
	
	<bean id="indexingTreeForkJoinPool" class="org.springframework.scheduling.concurrent.ForkJoinPoolFactoryBean">
		<property name="threadFactory" ref="forkJoinWorkerThreadFactory" />
		<property name="uncaughtExceptionHandler" ref="forkJoinPoolExceptionHandler" />
	</bean>
	
	<!-- Unsafe Services for REST Services -->
	<bean id="cmrManagementUnsafe" class="info.novatec.inspectit.cmr.service.rest.unsafe.UnsafeCmrManagementService"/>	
	<bean id="storageServiceUnsafe" class="info.novatec.inspectit.cmr.service.rest.unsafe.UnsafeStorageService"/>
	
	<!-- SHIRO SETTINGS -->
	<bean id="SecurityInitialization" class="info.novatec.inspectit.cmr.security.SecurityInitialization" />
	
	<bean id="cmrRealm" class="info.novatec.inspectit.cmr.security.CmrRealm" />

	<bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager" />
	
	<bean id="cmrSecurityManager" class="info.novatec.inspectit.cmr.security.CmrSecurityManager">
		<property name="realm" ref="cmrRealm" />
		<property name="sessionManager" ref="sessionManager" />
	</bean>
	
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />
		
	<!-- Secure Spring remoting:  Ensure any Spring Remoting method invocations -->
	<!-- can be associated with a Subject for security checks. -->
	<bean id="secureRemoteInvocationExecutor" class="org.apache.shiro.spring.remoting.SecureRemoteInvocationExecutor">
    	<property name="securityManager" ref="cmrSecurityManager"/>
	</bean>
</beans>
