/bin
/dist
/lib
/build
/generatedsrc
/test-output
/logs
/invocations
/db
temp-testng-customsuite.xml
/release
/resources/ivy/install
/license/license.lic
resources/jvm
/reports
/storage
/src/main/external-resources/config/configurationUpdates*.xml
/src/main/external-resources/config/configurationUpdates.xml*
/src/main/external-resources/ci/environments/*.xml
/src/main/external-resources/ci/profiles/*.xml
/src/main/external-resources/ci/agent-mappings.xml
/src/main/external-resources/ci/businessContext.xml
