/bin
/dist
/lib
/build
/generatedsrc
/test-output
/logs
/invocations
/db
temp-testng-customsuite.xml
/release
/resources/ivy/install
/license/license.lic
resources/jvm
/reports
/storage
/config/configurationUpdates*.xml
/config/configurationUpdates.xml*
/ci/environments/*.xml
/ci/profiles/*.xml
/ci/agent-mappings.xml
