<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
<suite name="CommonsTest">
	<test name="Data">
		<classes>
			<class name="rocks.inspectit.shared.all.cmr.cache.impl.ObjectSizesPrimitiveTypesSizeTest" />
			<class name="rocks.inspectit.shared.all.communication.EqualsVerifierTest" />
			<class name="rocks.inspectit.shared.all.communication.data.InvocationAwareDataTest" />
			<class name="rocks.inspectit.shared.all.communication.data.AggregatedDataTest" />
			<class name="rocks.inspectit.shared.all.communication.valueobject.TimerRawVOTest" />
		</classes>
	</test>
	<test name="Serializer">
		<classes>
			<class name="rocks.inspectit.shared.all.storage.serializer.impl.BackwardForwardCompatibilityTest" />
		</classes>
	</test>
	<test name="NIO">
		<classes>
			<class name="rocks.inspectit.shared.all.storage.nio.ByteBufferProviderTest" />
			<class name="rocks.inspectit.shared.all.storage.nio.stream.SocketExtendedByteBufferInputStreamTest" />
			<class name="rocks.inspectit.shared.all.storage.nio.stream.ExtendedByteBufferOutputStreamTest" />
		</classes>
	</test>
	<test name="Versioning">
		<classes>
			<class name="rocks.inspectit.shared.all.versioning.FileBasedVersionReaderTest" />
			<class name="rocks.inspectit.shared.all.versioning.VersionServiceTest" />
			<class name="rocks.inspectit.shared.all.versioning.VersionTest" />
		</classes>
	</test>
	<test name="JPA">
		<classes>
			<class name="rocks.inspectit.shared.all.jpa.ListStringConverterTest" />
			<class name="rocks.inspectit.shared.all.jpa.MapStringConverterTest" />
		</classes>
	</test>
</suite>
