<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
<suite name="CommonsCSTest">
	<test name="Aggregators">
		<classes>
			<class name="info.novatec.inspectit.indexing.aggregation.impl.HttpDataAggregatorTest" />
		</classes>
	</test>
	<test name="Indexing">
		<classes>
			<class name="info.novatec.inspectit.indexing.buffer.impl.BufferBranchIndexerTest" />
			<class name="info.novatec.inspectit.indexing.buffer.impl.BranchTest" />
			<class name="info.novatec.inspectit.indexing.impl.BufferIndexingTest" />
			<class name="info.novatec.inspectit.indexing.impl.StorageIndexingTest" />
			<class name="info.novatec.inspectit.indexing.indexer.impl.BranchIndexersTest" />
			<class name="info.novatec.inspectit.indexing.restriction.IndexQueryRestrictionProcessorTest" />
			<class name="info.novatec.inspectit.indexing.storage.impl.ArrayBasedStorageLeafTest" />
			<class name="info.novatec.inspectit.indexing.storage.impl.StorageBranchIndexerTest" />
		</classes>
	</test>
	<test name="Service">
		<classes>
			<class name="info.novatec.inspectit.cmr.service.cache.CachedDataServiceTest" />
		</classes>
	</test>
	<test name="Storage">
		<classes>
			<class name="info.novatec.inspectit.storage.StorageDataTest" />
			<class name="info.novatec.inspectit.storage.StorageIndexingTreeHandlerTest" />
			<class name="info.novatec.inspectit.storage.StorageWriterTest" />
			<class name="info.novatec.inspectit.storage.label.management.impl.LabelManagementActionsTest" />
			<class name="info.novatec.inspectit.storage.processor.impl.StorageDataProcessorsTest" />
		</classes>
	</test>
	<test name="Serializer">
		<classes>
			<class name="info.novatec.inspectit.storage.serializer.impl.SerializerTest" />
		</classes>
	</test>
	<test name="NIO">
		<classes>
			<class name="info.novatec.inspectit.storage.nio.ByteBufferProviderTest" />
			<class name="info.novatec.inspectit.storage.nio.ChannelManagersTest" />
			<class name="info.novatec.inspectit.storage.nio.CompletionHandlersTest" />
			<class name="info.novatec.inspectit.storage.nio.stream.ExtendedByteBufferInputStreamTest" />
			<class name="info.novatec.inspectit.storage.nio.stream.ExtendedByteBufferOutputStreamTest" />
		</classes>
	</test>
	<test name="Schema">
		<classes>
			<class name="info.novatec.inspectit.storage.serializer.schema.SchemaTest" />
		</classes>
	</test>
	<test name="Util">
		<classes>
			<class name="info.novatec.inspectit.storage.util.FileVisitorsTest" />
		</classes>
	</test>
	<test name="Properties">
		<classes>
			<class name="info.novatec.inspectit.cmr.property.XmlTransformationTest" />
			<class name="info.novatec.inspectit.cmr.property.configuration.GroupedPropertyTest" />
			<class name="info.novatec.inspectit.cmr.property.configuration.SinglePropertyTest" />
			<class name="info.novatec.inspectit.cmr.property.configuration.ConfigurationTest" />
			<class name="info.novatec.inspectit.cmr.property.configuration.validator.ValidatorsTest" />
			<class name="info.novatec.inspectit.cmr.property.update.ConfigurationUpdateTest" />
		</classes>
	</test>
</suite>