<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
<suite name="CMRTest">
	<test name="Cache">
		<classes>
			<class name="rocks.inspectit.server.cache.impl.AtomicBufferTest" />
			<class name="rocks.inspectit.server.cache.impl.BufferPropertiesTest" />
			<class name="rocks.inspectit.server.cache.impl.MemoryCalculationTest" />
		</classes>
	</test>
	<test name="Dao/Aggregators">
		<classes>
			<class name="rocks.inspectit.server.dao.impl.TimerDataAggregatorTest" />
			<class name="rocks.inspectit.server.dao.impl.PlatformIdentDaoTest" />
		</classes>
	</test>
	<test name="Service">
		<classes>
			<class name="rocks.inspectit.server.service.RegistrationServiceTest" />
			<class name="rocks.inspectit.server.service.AgentStorageServiceTest" />
			<class name="rocks.inspectit.server.service.GlobalDataAccessServiceTest" />
		</classes>
	</test>
	<test name="Util">
		<classes>
			<class name="rocks.inspectit.server.util.PlatformIdentCacheTest" />
			<class name="rocks.inspectit.server.util.AgentStatusDataProviderTest" />
		</classes>
	</test>
	<test name="Properties">
		<classes>
			<class name="rocks.inspectit.server.property.PropertyManagerTest" />
			<class name="rocks.inspectit.server.property.PropertyUpdateExecutorTest" />
			<class name="rocks.inspectit.server.property.PropertyIntegrationTest" />
		</classes>
	</test>
	<test name="Serializer">
		<classes>
			<class name="rocks.inspectit.shared.all.storage.serializer.impl.HibernateSerializerTest" />
		</classes>
	</test>
	<test name="CmrProcessors">
		<classes>
			<class name="rocks.inspectit.server.processor.impl.CmrDataProcessorsTest" />
		</classes>
	</test>
	<test name="Storage">
		<classes>
			<class name="rocks.inspectit.server.storage.StorageIntegrationTest" />
			<class name="rocks.inspectit.server.storage.CmrStorageManagerTest" />
			<class name="rocks.inspectit.server.storage.CmrStorageRecorderTest" />
			<class name="rocks.inspectit.server.service.rest.StorageRestfulServiceTest" />
		</classes>
	</test>
	<test name="AOP">
		<classes>
			<class name="rocks.inspectit.server.spring.aop.ExceptionInterceptorTest" />
		</classes>
	</test>
	<test name="CI">
		<classes>
			<class name="rocks.inspectit.server.ci.ConfigurationInterfaceManagerTest" />
		</classes>
	</test>	
</suite>