<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- The appenders are defined at the top -->
	
	<!-- Console output -->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<Target>System.out</Target>
		<encoder>
			<pattern>%d{ISO8601}: %-6r [%15.15t] %-5p %30.30c - %m%n</pattern>
		</encoder>
	</appender>

	<!-- Loggers are defined from down here -->

	<!-- set log levels - for more verbose logging change 'info' to 'debug' -->
	<root level="info">
		<appender-ref ref="stdout" />
	</root>

	<!-- deactivate all other loggers, except for errors -->
	<logger name="org" level="error" />
	<logger name="com" level="error" />
	<logger name="uk" level="error" />

</configuration>