@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  src: local('Abel'), local('Abel-Regular'), url(fonts/Abel.woff) format('woff');
}

html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background-color: #090923;
	background-image: url('graphics/background.png');
	background-repeat: y-repeat;
	background-position: top center;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	height: 100%;
	font-family: Abel;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 71px;
}

h1 {
	text-align: left;
	font-size: 28px;
	color: #e6e7e8;
	font-weight: bold;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

h4 {
	padding: 0;
	margin: 0;
	text-align: left;
	font-size: 21px;
	color: #faef60;
	font-weight: bold;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

a {
	color: #faef60;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

a.nav {
	margin-left: 25px;
	margin-right: 25px;
}

a.welcome {
	width: 243px;
	height: 125px;
	display: inline-block;
	background: transparent url('graphics/welcomeInactive.png') center top no-repeat;
}

a.welcome:hover {
	background-image: url('graphics/welcomeActive.png');
}

a.documentation {
	width: 323px;
	height: 125px;
	display: inline;
	background: transparent url('graphics/documentationInactive.png') center top no-repeat;
}

a.documentation:hover {
	background-image: url('graphics/documentationActive.png');
}

a.newFeatures {
	width: 295px;
	height: 125px;
	display: inline-block;
	background: transparent url('graphics/newFeaturesInactive.png') center top no-repeat;
}

a.newFeatures:hover{
	background-image: url('graphics/newFeaturesActive.png');
}

input {
	font-family: Abel;
	font-size: 16px;
	float: left;
	margin-top: 10px;
	min-width: 300px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

li.link {
	color: #faef60;
}

p, li {
	text-align: left;
	font-size: 18px;
	color: #ffffff;
}

p.section {
	margin-top: 0px;
	maring-bottom: 5px;
}

p.copyright {
	font-size: 12px;
	color: #000000;
}

img.section {
	float: left;
	margin-right: 10px;
}

img.nav {
	margin-left: 25px;
	margin-right: 25px;
}

td.section {
	vertical-align: top;
	padding-left: 20px;
	padding-right: 20px;
}


.container {
	min-height: 100%;
	position: relative;
}

.content {
	width: 1200px;
	margin: 0 auto;
	padding: 0;
}

.text-content {
	padding: 10px;
	padding-bottom: 71px;
	width: 1100px;
	margin: 0 auto;
}

.nav-content {
	padding-top: 23px;
	padding-bottom: 22px;
	width: 1011px;
	height: 124px;
	margin: 0 auto;
	position: relative;
}

.div-header {
	height: 100px;
	padding: 10px;
}

.div-footer {
	height: 71px;
	background-image: url('graphics/backgroundDown.png');
}

.div-menu {
	border-top: 2px;
	border: 0px;
	padding: 0px;
	background-image: url('graphics/backgroundMenu.png');
	height: 172px;
}

.div-copyright {
	padding-top: 5px;
}

.half {
	width: 50%;
}

.left {
	float: left;
}

.right {
	float: right;
}

.middle {
	vertical-align: middle;
}

.bottom {
	vertical-align: bottom;
}

.top {
	vertical-align: top;
}
